@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-one:#8261ee;
    --color-two: #ff589b;
    --color-text: #1e1e1e;
   
   
    --font: 'Raleway', sans-serif;
}

body{
    color: var(--color-text);
    line-height: 1.6;
    font-family: var(--font);
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--color-text);
}
a:hover{
    color: var(--color-two);
}

/* Button */
.button {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 45px;
    background: #FFF;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
}

.button-one{
    background: var(--color-one);
    color: white;
}
.button-one:hover{
    background: var(--color-two);
    color: #FFF;
    text-decoration: none;
}


.button-two{
    background: var(--color-two);
    color: white;
}
.button-two:hover{
    background: var(--color-one);
    color: #FFF;
}


/* End button */

/* Box Head */
.box-head {
    text-align: center;
    margin-bottom: 30px;
}
.box-head .inner-title {
    font-size: 24px;
    margin-bottom: 0;
}
.box-head .inner-desc {
    font-size: 14px;
    margin-top: 10px;
}
/* End Box Head */